@import '../../../styles.less';

.subtitle-login{
  display: flex;
  justify-content: center;
  text-align: center;
}

.panel-form{
  display: flex;
  flex-direction: column;
  padding: 0 5% 8%;
  &_input{
    margin-top: 4%
  }
}
.btn-wrapper{
  .btnStyle;
  .btn-login{
    width: 100%;
    margin: 1% 0
  }
  .title-register{
    font-family: @title-font;
    font-size: larger;
    color: @secondary-color-bold;
    cursor: pointer;
  }
  .link-helper{
    margin: 5% 0 2%;
    cursor: pointer;
    &:hover{
      color: @secondary-color-bold;
      border-bottom: 1px solid @secondary-color-bold;
    }
  }
}


