<div class="panel" [@animacao-banner]="formPanelTransformState">
    <form class="panel-form">
      <mat-form-field class="panel-form_input">
        <input matInput placeholder="Email">
        <mat-error *ngIf="email">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="panel-form_input">
        <input matInput placeholder="Senha" [type]="passwordHide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="email">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div class="btn-wrapper">
        <button mat-raised-button (click)="changeToRegisterUserPanel()">Cadastre-se</button>
        <button mat-raised-button>Login</button>
      </div>
    </form>
  </div>
