@import "../../styles.less";

.mat-expansion-indicator::after {
  display: none !important;
}

.header {
  background-color: @primary-color-1;
  box-shadow: @shadow;
  display: flex;
  height: @navbar-h;
  justify-content: space-between;
  &__logo {
    width: 20%;
    display: flex;
    align-items: center;
    @media @smallDevices {
      width: 40%;
    }
    &-img {
      margin-left: 10%;
      width: 50%;
      @media@smallDevices {
        width: 70%;
      }
      @media @mediumDevices {
        width: 80% !important;
      }
    }
  }
  &__options {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-right: 20%;
  }
  &__panel {
    .displayFlex(column);
    margin-right: 2%;
    display: block;
    padding: 1em 0;
    .icons {
      padding: 1% 2%;
      display: flex;
      justify-content: space-around;
    }
    &-gif {
      width: 5em;
    }
    .btn-logout {
      cursor: pointer;
      align-self: flex-end;
    }
  }
}
.main__content {
  .displayFlex(row, space-around);
  height: calc(100vh - @navbar-h);
  &-left {
    .displayFlex(column);
    width: @menu-left-w;
    background-color: @secondary-color-3;
    padding: 0 1%;
    z-index: -1;
    box-shadow: @rigth-shadow
  }
  &-right {
    width: calc(100vw - @menu-left-w);
    background-color: cadetblue;
    z-index: -2;
  }
}
