<div class="panel__search">
  <mat-form-field>
    <mat-select placeholder="Bairro">
      <mat-option value="Planalto">Planalto</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="checkbox__group">
    <mat-checkbox>Casa</mat-checkbox>
    <mat-checkbox>Apartamento</mat-checkbox>
    <mat-checkbox>Aluguel</mat-checkbox>
    <mat-checkbox>Venda</mat-checkbox>
  </div>
  <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
  <div class="btn__group">
    <button mat-raised-button>Buscar</button>
    <button mat-raised-button>Limpar</button>
  </div>
</div>
