<div class="panel" [@animacao-banner]="formPanelTransformState">
    <div class="titles">
      <span class="btn-title">RECUPERAR SENHA</span>
    </div>
    <form class="panel-form" [formGroup]="formulario" (ngSubmit)="formSubmit()">
      <mat-form-field class="panel-form_input">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="formulario.controls['email'].touched">Insira um email</mat-error>
      </mat-form-field>
      <div class="btn-wrapper">
          <button
            mat-raised-button type="submit"
            class="btn-login"
            [disabled]="!formulario.valid"
            class="btn-actions">
            Enviar
          </button>
          <button
            mat-raised-button
            class="btn-login"
            type="button"
            (click)="changeToLoginPanel()"
            class="btn-actions">
            Voltar
          </button>
        </div>
    </form>
  </div>
