<form class="panel-form" [formGroup]="formulario">
    <mat-form-field class="panel-form_input" hintLabel="*Utilize letras e numeros">
      <input
        matInput
        placeholder="Senha"
        [type]="passwordHide ? 'password' : 'text'"
        formControlName="senha"
        >
      <mat-error *ngIf="errors.senha">{{ errors.senha }}</mat-error>
    </mat-form-field>
    <mat-form-field class="panel-form_input">
      <input
        matInput
        placeholder="Confirme sua senha"
        [type]="passwordHide ? 'password' : 'text'"
        formControlName="confirmarSenha">
      <mat-icon
        matSuffix
        (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error
      *ngIf="!formulario.get('confirmarSenha').valid && formulario.get('confirmarSenha').touched">
        As senhas não iguais!
      </mat-error>
    </mat-form-field>
    <div class="btn-wrapper">
    </div>
  </form>
  <div class="btn-wrapper">
    <button mat-raised-button (click)="backToLoginPanel()" type="button" class="btn-back">Voltar</button>
  </div>
