@import '../../../styles.less';

button{
  background-color: @beige-1
}


.panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: @bg-opac;
  border-radius: 6px;
  box-shadow: @shadow;
  @media @smallDevices{
    margin: 2% 5%;
  }
  @media @mediumDevices{
    margin: 5% 10%;
  }
  @media @largeDevices{
    margin: 5% 20%;
  }

  .titles{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
    text-align: -webkit-center;
    &-span{
      font-family: @title-font;
    }
    &-register:hover{
      cursor: pointer;

    }
  }
}
