<div class="wrapper">
  <div *ngIf="showLoginFormPanel">
    <app-login-user (showFormPanel)="showFormPanel($event)"></app-login-user>
  </div>
  <div *ngIf="showRegisterFormPanel">
    <app-register-user (showFormPanel)="showFormPanel($event)"></app-register-user>
  </div>
  <div *ngIf="showRecoveryFormPanel">
    <app-recovery-password (showFormPanel)="showFormPanel($event)"></app-recovery-password>
  </div>
  <div *ngIf="showUserFormHelper">
    <app-user-helper (showFormPanel)="showFormPanel($event)"></app-user-helper>
  </div>
</div>
