@import '../../styles.less';

.btn-submit{
  width: 100%;
  margin: 1% 0
}

app-acess-panel{
  height: calc(80vh - 10%);
  width: 100vw;
  padding: @padding-panel;
  @media  @desktop-medium{
    .resizePadding(@padding-panel, 1%, 25%);
  }
  @media @desktop-large{
    .resizePadding(@padding-panel, 3%, 33%)
  }
}

.background{
  background-image: url('../../assets/parallax1.jpg');
  justify-content: center;
  background-size: cover;
  display: flex;
  height: 100%;
  .login{
    margin-top: 1em;
  }
}
