<div class="wrapper">
  <div *ngIf="showLoginFormPanel">
    <app-login-user (showFormPanel)="showFormPanel($event)"></app-login-user>
  </div>
  <div *ngIf="showRegisterFormPanel">
    <app-register-user (showFormPanel)="showFormPanel($event)"></app-register-user>
  </div>
  <div *ngIf="showRecoveryFormPanel">
    <app-recovery-password (showFormPanel)="showFormPanel($event)"></app-recovery-password>
  </div>
  <div *ngIf="showUserFormHelper; else invalidCode">
    <app-user-helper (showFormPanel)="showFormPanel($event)">
      <div class="btn-wrapper">
        <button mat-raised-button type="button" class="btn-login" (click)="checkEmailResendType()" [disabled]="!bckendFb.resetPwdFormValid">alterar senha</button>
      </div>
    </app-user-helper>
  </div>
  <ng-template #invalidCode>
    hahah
    <div *ngIf="invalidValidateEmailCode">
      <app-user-helper (showFormPanel)="showFormPanel($event)">
        <div class="btn-wrapper">
          <button mat-raised-button type="button" class="btn-login" (click)="resendConfirmationLink()">Reenviar link</button>
        </div>
      </app-user-helper>
    </div>
  </ng-template>
</div>
